.form__btn{
    width: 330px;
    text-align: center;
    background: #152540;
    border-radius: 99px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    padding: 5px;
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.4s ease;
    text-decoration: none;

    &:hover{
        border-color:#152540;
        background: transparent;
        color: #152540;
    }
}