.form{
    &__title{
        font-weight: 900;
        font-size: 36px;
        line-height: 51px;
        color: #000;
        margin-bottom: 10px;
    }

    &__text-block{
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 20px;
    }

    &__text{
        color: #000;
    }

    &__link{
        color: #549ff9;
        margin-left: 3px;
    }
}